@import "mixins";

// Check out _mixins.scss for color scheme used throughout

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 10%;
}
/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}
/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 760px / 16px = 47.5em */
@media (max-width: 47.5em) {
  html {
    font-size: 57%;
    scroll-padding-top: 28%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

body{
  padding-top: 50px;
  margin: 0;
  padding: 0;
  background-color: black;
  z-index: 1;
}

#container-navbar{
  @include background-color-scheme(lightest);
  width: 100%; 
  font-size: 2.25rem;
  top: 0;
  left: 0;
  border-bottom: 5px solid black;
}

@media (max-width: 28.75em) {
  #container-navbar {
    font-size: 1.5rem;
  }
}

#container-navbar #site-links li a {
  text-decoration: none;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 7rem;
  padding-right: 7rem;
  line-height: 2.5rem;
  display: inline-block;
  font-weight: bold;
}
@media (max-width: 61.25em) {
  #container-navbar #site-links li a {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

#container-navbar #site-links li a:hover {
  @include background-color-scheme(darkest);
}

#nav-personal-links li a {
  text-decoration: none;
  color: black;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  line-height: 2.5rem;
  display: inline-block;
  font-weight: bold;
}

.nav-link-button{
  padding-top: 30%;
  @include background-color-scheme(lightest);
  border: 0 none transparent;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 110vh;
  @include background-color-scheme(default);
  color: white;
}

#welcome-section h1{
  margin-top: 25vh;;
  font-size: 4rem;
}

@media (max-width: 61.25em){
  #welcome-section h1{
    text-align: center;
    width: 100%;
    margin-top: 30vh;
  }
}

@media (max-width: 28.75em){
  #welcome-section h1{
    margin-top: 35vh;
  }
}

#welcome-section p{
  font-size: 3rem;
  width: 50%;
  text-align: center;
}

@media (max-width: 28.75em){
  #welcome-section p{
    text-align: center; 
    width: 90%;
    padding-bottom: 5%;
  }
}

.welcome-headshot{
  margin-top: 3%;
  max-width: 25%;
  height: auto;
  width: auto;
  border-style: solid;
  border-width: .25rem;
  border-color: black;
  border-radius: 50%;
}

@media (min-width: 28.76em) and (max-width: 61.25em){
  .welcome-headshot{
    margin-top: 5%;
    max-width: 30%;
  }
}

@media (max-width: 28.75em){
  .welcome-headshot{
    max-width: 50%;
  }
}

#about-container {
  padding-top: 2rem;
  width: 100%;
  text-align: center;
  @include background-color-scheme(dark);
  color: white;
  padding-bottom: 10rem;
}

#about h1{
  font-size: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.about-button{
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 2rem;
  width: 20%;
  @include background-color-scheme(lightest);
  color: white;
  border: white;
  border-style: inset;
  border-width: .5rem;
  font-size: 1.75rem;
}

@media (max-width: 47.5em){
  .about-button {
    width: 50%;
  }
}

.about-button:hover{
  @include background-color-scheme(darkest);
  color: white;
}

#about-pop-out{
  width: 100%;
  z-index: 2;
  position: fixed;
  top: 0;
  height: 100vh;
}

#about-pop-out-content{
  width: 90%;
  margin-left: 5%;
  margin-top: 7%;
  height: 75%;
  text-align: center;
  align-items: center;
  background: rgb(65, 64, 64);
  color: white;
  font-size: 2.5rem;
  z-index: 3;
  padding: 0 5% 5% 5%;
  border: .25rem solid white;
}

.about-exit-button-container{
  margin-left: 100%;
  padding-top: 1%;
}

.about-exit-button{
  font-size: 3rem;
  background-color: transparent;
  border: transparent;
  color: white;
}

.about-drop-down-word-list{
  padding-top: .5rem;
  display: inline-block;
  text-align: left;
  align-items: center;
  margin-left: 20%;
  font-weight: bold;
  padding-top: 2%;
}

.about-drop-down-word-blurb{
  width: 70%;
  align-items: center;
  margin: 0 auto;
  font-weight: bold;
  padding-top: 2%;
}

#skills {
  padding-top: 15rem;
  padding-bottom: 15rem;
  width: 100%;
  text-align: center;
  @include background-color-scheme(default);
  font-size: 5rem;
  font-weight: bold;
  color: white;
}

#projects{
  width: 100%;
  @include background-color-scheme(default);
  height: 55rem;
  
}

.projects-header{
  font-size: 300%;
  padding-top: 5rem;
  color: white;
  border: .5rem outset #E5B25D;
  padding: 1.5rem 1rem 1.5rem 1rem;
  text-decoration: underline;
  background-color: #523A34;
  text-align: center;
  box-shadow: 15px 10px 20px black;
}

@media (max-width: 39em) {
  .projects-header {
    font-size: 250%;
  }
}

.projects-header-container{
  padding-top: 2rem;
  width: 24%;
  text-align: center;
  margin-bottom: 4%;
  margin-left: 38%;
}

@media (max-width: 39em) {
  .projects-header-container {
    width: 80%;
    margin-left: 10%;
  }
}

.projects-content-container{
  margin-top: 5rem;
  width: 80%;
}

#contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @include background-color-scheme(light);
  height: 65rem;
}
#contact h3{
  margin-top: 2.5rem;
  font-size: 3rem;
  padding: .5rem 2rem .5rem 2rem;
  text-decoration: underline;
}

#contact-grid{
  display: grid;
  grid-gap: 3rem;
  margin-top: 2rem;
}
.contact-item{
  grid-column-start: 1;
  grid-column-end: 5;
  text-decoration: none;
  width: 20rem;
  background-color: #FF69B4;
  justify-content: center;
  border: solid black;
  border-width: 1rem;
}
#contact-grid p {
  text-align: center;
  font-size: 2rem;
  color: yellow;
  font-weight: bold;
  
}
.contact-item:hover {
 background-color: #B22222;
}

#footer {
  bottom: 0;
  left: 0;
  margin: auto 0;
  width: 100%;
  @include background-color-scheme(lightest);
  font-size: 2.25rem;
  padding-top: 2%;
  padding-bottom: .01%;
  border-top: 5px solid black;
}

#footer-personal-links li a {
  text-decoration: none;
  color: black;
  line-height: 2.5rem;
  display: inline-block;
  font-weight: bold;
}


#footer-personal-links {
  list-style-type: none;
}

#footer-personal-links li {
  padding: .75%;
}

.footer-link-button{
  @extend .nav-link-button;
  padding-top: 3%;
}

.footer-link-to-top{
 color: white;
}
  