html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 10%;
}
/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}
/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 760px / 16px = 47.5em */
@media (max-width: 47.5em) {
  html {
    font-size: 57%;
    scroll-padding-top: 28%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}
body{
  padding-top: 50px;
  margin: 0;
  padding: 0;
}

#container-navbar{
  background-color: #DAA520;
  color: black;
  width: 100%; 
  font-size: 2.25rem;
  top: 0;
  left: 0;
  border-bottom: 5px solid black;
}

@media (max-width: 28.75em) {
  #container-navbar {
    font-size: 1.5rem;
  }
}

#container-navbar #site-links li a {
  text-decoration: none;
  color: black;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 7rem;
  padding-right: 7rem;
  line-height: 2.5rem;
  display: inline-block;
  font-weight: bold;
}
@media (max-width: 61.25em) {
  #container-navbar #site-links li a {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

#container-navbar #site-links li a:hover {
 background-color: #B22222;
}

#container-navbar #personal-links li a {
  text-decoration: none;
  color: black;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  line-height: 2.5rem;
  display: inline-block;
  font-weight: bold;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(45deg, #8B008B 25%, #7B68EE 65%, #1E90FF 100%);
}

#welcome-section h1{
  margin-top: 45vh;;
  font-size: 4rem;
}

@media (max-width: 61.25em){
  #welcome-section h1{
    text-align: center;
    width: 100%;
    margin-top: 40vh;
  }
}

@media (max-width: 28.75em){
  #welcome-section h1{
    margin-top: 35vh;
  }
}

#welcome-section p{
  font-size: 3rem;
  width: 50%;
  text-align: center;
}

@media (max-width: 28.75em){
  #welcome-section p{
    text-align: center; 
    width: 100%;
    padding-bottom: 25%;
  }
}

#about {
  padding-top: 1rem;
  width: 100%;
  text-align: center;
  background-color: #F2DD6E;
  padding-bottom: 2rem;
}

.about-heading{
font-size: 3rem;
}

.about-button{
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding: 1rem;
  background-color: #523A34;
  color: white;
  border: #E5B25D;
  border-style: inset;
  border-width: .5rem;
  font-size: 1.75rem;
}

.about-button:hover{
  background-color: #B87D4B;
  color: white;
}

.about-drop-down-word-list{
  padding-top: .5rem;
  font-size: 1.5rem;
  display: inline-block;
  text-align: left;
  align-items: center;
  margin-left: 15%;
  font-weight: bold;
}


.about-drop-down-word-blurb{
  width: 50%;
  align-items: center;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: bold;
}

#projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #3CB371;
  height: 55rem;
}
@media (max-width: 28.75em){
  #projects{
  width: 100%;
  height: auto;
  }
}
#projects h2{
  margin-top: 2.5rem;
  font-size: 3rem;
  border: .5rem dashed black;
  padding: .5rem 2rem .5rem 2rem;
  text-decoration: underline;
  background-color: #9ACD32;
  
}

#project-grid{
  display: grid;
  grid-gap: 15rem;
  grid-row-columns: repeat(auto-fit, minmax(200rem, 1fr));
}
@media (max-width: 28.75em){
  #project-grid{
    display: flex;
    margin: auto;
    width: 100%;
    grid-gap: 0;
  }
}


.project-tile{
  grid-row-start: 1;
  grid-row-end: 3;
  text-decoration: none;
  margin-top: 5rem;
  width: 20rem;
  border: solid black;
  border-width: .5rem;
  background-color: #006400;
}
// @media (max-width: 28.75em){
//   .project-tile{
  
//   }
// }

.project-tile p {
  color: black;
  font-size: 2rem;
  background-color: #9ACD32;
  text-align: center;
}
// @media (max-width: 28.75em){
//   .tile-item p{
  
//   }
// }
.project-tile p:hover {
 background-color: #B22222;
}

#project-grid img{
  height: 20rem;
  max-width: 100%;
}
// @media (max-width: 28.75em){
//   #project-grid img{
 
//   }
// }

#contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #B0C4DE;
  height: 65rem;
}
#contact h3{
margin-top: 2.5rem;
  font-size: 3rem;
  padding: .5rem 2rem .5rem 2rem;
  text-decoration: underline;
}

#contact-grid{
  display: grid;
  grid-gap: 3rem;
  margin-top: 2rem;
}
.contact-item{
  grid-column-start: 1;
  grid-column-end: 5;
  text-decoration: none;
  width: 20rem;
  background-color: #FF69B4;
  justify-content: center;
  border: solid black;
  border-width: 1rem;
}
#contact-grid p {
  text-align: center;
  font-size: 2rem;
  color: yellow;
  font-weight: bold;
  
}
.contact-item:hover {
 background-color: #B22222;
}

#footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  background-color: #A9A9A9;
  color: red;
  padding-top: 2.5rem;
}
  