@import "mixins";

// Check out _mixins.scss for color scheme used throughout

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');


html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 10%;
}
/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}
/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 760px / 16px = 47.5em */
@media (max-width: 47.5em) {
  html {
    font-size: 57%;
    scroll-padding-top: 28%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

body{
  padding-top: 3.2rem;
  margin: 0;
  padding: 0;
  @include background-color-scheme(default);
  z-index: 1;
  font-family: 'Kanit', sans-serif;
}

#container-navbar{
  @include background-color-scheme(lightest);
  width: 100%; 
  font-size: 2.25rem;
  top: 0;
  left: 0;
  border-bottom: .5rem solid black;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",
  sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

@media (max-width: 28.75em) {
  #container-navbar {
    font-size: 1.5rem;
  }
}

#container-navbar #site-links li a {
  text-decoration: none;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 7rem;
  padding-right: 7rem;
  line-height: 2.5rem;
  display: inline-block;
  font-weight: bold;
}
@media (max-width: 61.25em) {
  #container-navbar #site-links li a {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

#container-navbar #site-links li a:hover {
  @include background-color-scheme(darkest);
}

#nav-personal-links li a {
  text-decoration: none;
  color: black;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  line-height: 2.5rem;
  display: inline-block;
  font-weight: bold;
}

.nav-link-button{
  padding-top: 30%;
  @include background-color-scheme(lightest);
  border: 0 none transparent;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 110vh;
  color: white;
}

#projects{
  height: 90rem;
  padding-top: .5%;
  color: white;
}

@media (min-width: 37.51rem) and (max-width: 56.25rem){
  #projects{
    height: 125rem;
  }
}

@media (max-width: 37rem){
  #projects{
    height: 200rem;
  }
}

.projects-header{
  text-align: center;
  font-size: 4rem;
  padding-top: 1rem;
  padding-bottom: 3%;
  // font-family: 'Poppins', sans-serif;
  font-style: italic;
}

.projects-wording{
  text-decoration: none;
  color: white;
  font-family: 'Kanit', sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 2rem;
}

@media (max-width: 35rem){
  .projects-wording{
    font-size: 1.7rem;
    word-break: break-word;
  }
}

.projects-wording:hover{
  color:white;
}

#skills {
  padding-top: 2rem;
  padding-bottom: 10rem;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  color: white;
}

#about-container {
  padding-top: .5rem;
  width: 100%;
  text-align: center;
  color: white;
  padding-bottom: 6rem;
}

#about h1{
  font-size: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  // font-family: 'Poppins', sans-serif;
  font-style: italic;
}

.about-button{
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 2rem;
  width: 25%;
  @include background-color-scheme(lightest);
  color: white;
  border: white;
  border-style: inset;
  border-width: .5rem;
  font-size: 1.75rem;
}

@media (max-width: 54em){
  .about-button {
    width: 50%;
  }
}

@media (min-width: 29.1em) and (max-width: 47.5em){
  .about-button {
    width: 50%;
  }
}

@media (max-width: 29em){
  .about-button {
    width: 80%;
  }
}

.about-button:hover{
  @include background-color-scheme(darkest);
  color: white;
}

#about-pop-out{
  width: 100%;
  z-index: 2;
  position: fixed;
  top: 0;
  height: 100vh;
}

@media (min-width: 26.26em) and (max-width: 73.75em){
  #about-pop-out {
    padding-top: 3%;
  }
}

@media (max-width: 26.25em){
  #about-pop-out {
    padding-top: 5%;
  }
}

#about-pop-out-content{
  width: 90%;
  margin-left: 5%;
  margin-top: 7%;
  height: 75%;
  text-align: center;
  align-items: center;
  background: rgb(65, 64, 64);
  color: white;
  font-size: 2.5rem;
  z-index: 3;
  padding: 0 5% 5% 5%;
  border: .25rem solid white;
}

@media (min-width: 38.76em) and (max-width: 51.25em){
  #about-pop-out-content {
    font-size: 2.25rem;
  }
}

@media (min-width: 26.26em) and (max-width: 38.75em){
  #about-pop-out-content {
    font-size: 1.75rem;
  }
}

@media (max-width: 26.25em){
  #about-pop-out-content {
    font-size: 1.5rem;
  }
}

.about-exit-button-container{
  margin-left: 100%;
  padding-top: .5%;
}

@media (min-width: 26.26em) and (max-width: 43.75em){
  .about-exit-button-container {
  margin-left: 95%;
  }
}

@media (max-width: 26.25em){
  .about-exit-button-container {
  margin-left: 90%;
  }
}

.about-exit-button{
  font-size: 3rem;
  background-color: transparent;
  border: transparent;
  color: white;
}

.about-drop-down-word-list{
  padding-top: .5rem;
  display: inline-block;
  text-align: left;
  align-items: center;
  margin-left: 20%;
  font-weight: bold;
  padding-top: 2%;
}

.about-drop-down-word-blurb{
  width: 70%;
  align-items: center;
  margin: 0 auto;
  font-weight: bold;
  padding-top: 2%;
}

#contact{
  width: 100%;
  color: white;
  height: 40rem;
  text-align: center;
  padding-top: 1%;
}

#contact h1{
  font-size: 4rem;
  padding-top: 1rem;
  padding-bottom: 2%;
  // font-family: 'Poppins', sans-serif;
  font-style: italic;
}

#contact-container{
  width: 60%;
  margin-left: 20%;
  @include background-color-scheme(lightest);
  padding: 3% 1% 5% 1%;
  border-bottom: .5rem solid white;
  font-size: 2rem;
}

@media (min-width: 23.76em) and (max-width: 36.25em){
  #contact-container {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
  }
}

@media (max-width: 23.75em){
  #contact-container {
    width: 98%;
    margin-left: 1%;
    margin-top: 15%;
  }
}

#contact-container:hover{
  @include background-color-scheme(darkest);
}

#footer {
  bottom: 0;
  left: 0;
  margin: auto 0;
  width: 100%;
  @include background-color-scheme(lightest);
  font-size: 2.25rem;
  padding-top: 1%;
  padding-bottom: .01%;
  border-top: .5rem solid black;
}

#footer-personal-links li a {
  text-decoration: none;
  color: black;
  line-height: 2.5rem;
  display: inline-block;
  font-weight: bold;
}

#footer-personal-links {
  list-style-type: none;
}

#footer-personal-links li {
  padding: .75%;
}

.footer-link-button{
  @extend .nav-link-button;
  padding-top: 1%;
}
  